<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="image">
  <div class="tb">
    <table style="padding: 30px 10px 0px 95px;">
      <tr>
        <td><i class="fas fa-phone icon"></i>(+216) 58810370</td>
        <td><i class="fas fa-map-marker-alt icon"></i>47 Bakery Street, tunis, mr</td>
        <td><i class="fa-regular fa-clock icon"></i>Mon - Fri 8:00 - 18:00</td>
        <td style="padding-left: 450px; font-size: 20px;" class="social-icons">
          <a href="#"><i class="fab fa-facebook-f" style="margin-right: 35px;"></i></a>
          <a href="#"><i class="fab fa-twitter" style="margin-right: 35px;"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <td>
            <table>
              <tr>
                <td style="border-right: 1px solid hsla(0,0%,100%,.2);"> <a href="client" style="text-decoration: none; color: #ffffff;">Login</a></td>
                <td style="padding-left: 15px;"><a href="formul" style="text-decoration: none; color: #ffffff;">Register</a></td>
              </tr>
              
            </table>
          </td>
      </tr>
    </table>
  </div>
  <div class="menu">
    
    <h1 class="logo">Sikipon <span>auto</span></h1>
    <ul spellcheck=" display: flex;list-style: none;">
      <li class="l"><a href="#">home</a></li>
      <li class="l"><a href="touslescards">listing</a></li>
      <li class="l"><a href="#">blog</a></li>
      <li>
       <div class="dropdown">
  <button class="dropdown-btn" style="font-size: 15px;">pages <i class="fas fa-angle-down icon2"></i></button>
  <div class="dropdown-content ">
    <a class="s" href="#">Loan Calculator</a>
    <a class="s" href="#">Compare</a>
    <a class="s" href="#">Contact</a>
    <a class="s" href="#">Faq</a>
    <a class="s" href="client">Log In</a>
    <a class="s" href="formul">Sign up</a>
    <a class="s" href="#">Service</a>
    <a class="s" href="#">Terms & Condition</a>
  </div>
</div>
      
      </li>
      <li class="l"><a href="#">contact us</a></li>  
      <li style="    margin-top: 42px;" >
        <app-sidebar ></app-sidebar> <!-- Inclure le contenu de app-sidebar ici -->
      </li>
    </ul>
    
  </div>
  <button class="scroll-to-top-button" (click)="scrollToTop()"  *ngIf="showScrollToTopButton()">
    <i class="fas fa-arrow-up"></i> 
  </button>
  <app-men ></app-men>


</div>
<app-carmodel></app-carmodel>
<app-body></app-body>
<app-body2></app-body2>
<app-im></app-im>
<app-das></app-das>
<app-cc></app-cc>
<app-testem></app-testem>
<app-ff></app-ff>
<app-footer></app-footer>





