<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="f1">
    <div class="f2">
        <div class="f22">
            <h1 class="logo">Sikipon <span>auto</span></h1>
        </div>
          <div class="f33">
            <a href="header" >home</a>
            <a href="">About us</a>
            <a href="">Listning</a>
            <a href="">Blog</a>
            <a href="">Client</a>
            <a href="">service</a>

          </div>
    </div>
 <hr>
 <div class="f3">
    <div class="f34">
        <h2>
            Office
        </h2>
           <p>
            Germany —<br>
            329 Queensberry Street,<br>
            North Melbourne VIC 3051
           </p>
    </div>
    <div class="f34">
        <h2>
            NEED HELP
        </h2>
        <h2 style="font-size: 24px;">(216)58810370</h2>
           <p>kanearihoussem12@gmail.com</p>
    </div>
    <div class="f34">
        <h2>
            OPENING HOURS

        </h2>
           <p>
            Monday – Friday: 09:00AM – 09:00PM <br>
            Saturday: 09:00AM – 07:00PM <br>
            Sunday: Closed <br>
           </p>
    </div>
    <div class="f34">
        <h2>
            KEEP IN TOUCH

        </h2>
        <div class="input-group">
            <input type="email" class="input" id="Email" name="Email" placeholder="Enter your email..." autocomplete="off">
            <input class="button--submit" value="go" type="submit">
        </div>
        <p>Get latest updates and offers.</p>
    </div>
 </div>
 <div class="f4">
   <div class="f">
     <p>   kanzari houssem&copy; 2023. All Rights Reserved.</p>
   </div>
   <div class="f444">
    <ul class="aa">
        <li class="ii">
            <a href="lien_facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li class="ii">
            <a href="lien_twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="ii">
            <a href="lien_instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>
    
   </div>
 </div>
</div>
