<div style="height: 400px;padding-top: 80px;">
    <div class="f1">
        <h2>Popular Makes</h2>
   </div>
   <div class="f3">
      <div class="f4" data-aos="fade-up" data-aos-duration=" 1000">
         <p >renault</p>
      </div>
      <div class="f4" data-aos="fade-up" data-aos-duration=" 900">
       <p >citroen</p>
    </div>
    <div class="f4" data-aos="fade-up" data-aos-duration=" 800">
       <p >peugeot</p>
    </div>
    <div class="f4" data-aos="fade-up" data-aos-duration=" 700">
       <p >volkswagen</p>
    </div>
    <div class="f4" data-aos="fade-up" data-aos-duration=" 600">
       <p >fiat</p>
    </div>
   </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>