

<div class="m1">
    <div class="m11">
        <div class="m2" data-aos="fade-up" data-aos-duration=" 1000">
            <div class="m3">
                <img src="../../assets/images/istockphoto-485428055-612x612.jpg" alt="CFC Image" loading="lazy" width="150" height="58" decoding="async" >
            </div>
            <div class="p">
            <a href="">Compact</a>
            </div>
        </div>
        <div class="m2" data-aos="fade-up" >
            <div class="m3">
                
                <img src="../../assets/images/360_F_63599499_buBFcAg3shFsqnQ8Hrd68agB8N5WOsuq.jpg" alt="CFC Image" loading="lazy" width="150" height="58" decoding="async">
            </div>
            <div class="p">
                <a href="">Sedan</a>
                </div>
        </div>
        <div class="m2" data-aos="fade-up" data-aos-duration="1000">
            <div class="m3">
                <img src="../../assets/images/istockphoto4-490313551-612x612.jpg" alt="CFC Image" loading="lazy" width="150" height="58" decoding="async" >
            </div>
            <div class="p">
                <a href="">SUV</a>
                </div>
        </div>
        <div class="m2" data-aos="fade-up" data-aos-duration="1000">
            <div class="m3">
                <img Src="../../assets/images/istockphoto55-516463389-612x612.jpg" alt="CFC Image" loading="lazy" width="150" height="58" decoding="async" >
            </div>
            <div class="p">
                <a href="">Convertible</a>
                </div>
        </div>
        <div class="m2" data-aos="fade-up" data-aos-duration="1000">
            <div class="m3">
                <img src="../../assets/images/hhh.avif" alt="CFC Image" loading="lazy" width="150" height="58" decoding="async" >
            </div>
            <div class="p">
                <a href="">Coupe</a>
                </div>
        </div>
    </div>
</div>


    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>