<div class="cc1" data-aos="fade-up" data-aos-duration="1000">
    <div class="cc2">
        <div class="counting-number">{{ currentNumber1 }}</div>
        <p>Cars For Sale</p>
    </div>
    <div class="cc2">
        <div class="counting-number">{{currentNumber2}}</div>
        <p>Dealer Reviews</p>
    </div>
    <div class="cc2">
        <div class="counting-number">{{currentVisitorNumber }}</div>
        <p>Visitors Pre Day</p>
    </div>
    <div class="cc2">
        <div class="counting-number">{{ currentNumber2}}</div>
        <p>Verified Dealers</p>
    </div>
</div>




<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>













