<div class="a1">
    <div class="a2">
        <h2>
          hello admin
        </h2>
        <p>Ready to jump back in!</p>
        </div>
      <div class="ad">
        <table style="border: 1;">
            <thead>
              <tr>
                <th> id</th>
                <th>Nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>paswword</th>
                <th>activation</th>
              </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let client of displayedClient">
                    <td>{{client.id_client}}</td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.paswword }}</td>
                    <td>{{ client.active }}</td>
                </tr>
            </tbody>
        </table>
<div class="bt">
    <button style="margin-left: 350px;" [class.active]="activeButtonIndex === 1" (click)="onButtonClick(1)">1</button>
    <button [class.active]="activeButtonIndex === 2" (click)="onButtonClick(2)">2</button>
    <button [class.active]="activeButtonIndex === 3" (click)="onButtonClick(3)">3</button>
    </div>

