button{
  width: 442px;
  height: 60px;
  border-radius: 8px;
  font-size: 13px;
    font-style: normal;
    font-family: Inter,sans-serif;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    cursor: pointer;
    background-color: #FFC107;
    color: #1a3760;
    margin-bottom: 20px;
    padding: 6px 12px;
    border: none;
    
}
button:focus{
  outline: none;
}
button:hover{
  background-color: #cfa030;
}
button:active{
  background-color: #f8f9fa;
}
  