<div class="s" >

    <div class="s1">
      <h2>Why Choose Us?</h2>
    </div>
    <div class="1" style="display: flex; padding-left: 50px;padding-right: 50px;">
<div class="s2" data-aos="fade-up" data-aos-duration="1000">
     <div class="s3">
         <img src="../../assets/images/etiquette-de-prix.png" alt="">
     </div>
     <div class="s4">
  <h1>Best Price</h1>
  <p>Our stress-free finance department that can find financial solutions to save you money.</p>
     </div>
</div>
<div class="s2" data-aos="fade-up" data-aos-duration="1000">
  <div class="s3" style="background-color:#81c6d659;">
      <img src="../../assets/images/voiture.png" alt="">
  </div>
  <div class="s4">
<h1>Trusted By Thousands</h1>
<p>
  Thousands of people have placed their trust in us. We have won their loyalty through our constant commitment to quality.</p>
  </div>
 
</div>
<div class="s2" data-aos="fade-up" data-aos-duration="1000">
  <div class="s3" style="background-color: #77cb8780">
      <img src="../../assets/images/cadenas.png" alt="">
  </div>
  <div class="s4">
<h1>Wide Range of Brands</h1>
<p>We offer a wide range of brands to meet your varied needs. With a diverse selection of renowned brands.</p>
  </div>
 
</div>

</div>

</div>

